<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string>Sep 30 - Oct 02</string>
	<key>EventPlace</key>
	<string>Harvesting Clean Energy 2015</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#0053a3</string>
	<key>NavigationBarColour</key>
	<string>#0053a3</string>
	<key>EventDetailHeaderColour</key>
	<string>#92d14f</string>
	<key>FavoriteEventColour</key>
	<string>#478622</string>
	<key>IsFilterEnable</key>
	<false/>
	<key>SpeakerDetailBarColour</key>
	<string>#0053a3</string>
</dict>
</plist>
