DrupalCon/DrupalCon.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
DrupalCon/DrupalCon.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/WorkspaceSettings.xcsettings
DrupalCon/DrupalCon.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DrupalCon/DrupalCon.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/DrupalCon.xcscheme
DrupalCon/DrupalCon.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
DrupalCon/DrupalCon.xcodeproj/project.xcworkspace/xcuserdata/opoburynnyi.xcuserdatad/UserInterfaceState.xcuserstate
DrupalCon/DrupalCon.xcodeproj/xcuserdata/opoburynnyi.xcuserdatad/xcschemes/DrupalCon.xcscheme
DrupalCon/DrupalCon.xcodeproj/xcuserdata/opoburynnyi.xcuserdatad/xcschemes/xcschememanagement.plist
DrupalCon/DrupalCon/Classes/ConferenceViewControllers/Program/DCProgramViewController.m.orig
DrupalCon/DrupalCon/Model/DCMainProxy.m.orig
