<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string>Sep 21-25</string>
	<key>EventPlace</key>
	<string>Barсelona, DrupalCon 2015</string>
	<key>NavigationBarColour</key>
	<string>#007EC8</string>
	<key>EventDetailHeaderColour</key>
	<string>#D2462A</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#ffffff</string>
	<key>FavoriteEventColour</key>
	<string>#D2462A</string>
	<key>IsFilterEnable</key>
	<true/>
	<key>SpeakerDetailBarColour</key>
	<string>#D2462A</string>
</dict>
</plist>
