<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string> </string>
	<key>EventPlace</key>
	<string> </string>
	<key>NavigationBarColour</key>
	<string>#072D50</string>
	<key>EventDetailHeaderColour</key>
	<string>#3d4760</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#ffffff</string>
	<key>FavoriteEventColour</key>
	<string>#65b6aa</string>
	<key>IsFilterEnable</key>
	<true/>
	<key>SpeakerDetailBarColour</key>
	<string>#65b6aa</string>
</dict>
</plist>
