 body {

                  font-family: "HelveticaNeue-Light";
                  font-size: 15px;
                  margin-top:0px;
                  margin-left:0px;
                  margin-right:0px;
                  margin-bottom:0px;
                  padding-top:0px;
                  padding-bottom:0px;
                  padding-left:15px;
                  padding-right:15px;
              }
              
              p{
               font-family: "HelveticaNeue-Light";
               font-size: 15px;
               color: #333333;
               line-height: 20px;
              }
              
              ul{
                margin: 0px 0;
              }
              ul li, ol li{
                                 font-family: "HelveticaNeue-Light";
               font-size: 15px;
               color: #333333;
               line-height: 20px;
              } 


              strong{
               font-family: "HelveticaNeue-Light";
               font-size: 15px;
               color: #333333;
               line-height: 22px;
              }           
              img{
                  display: block;
                  max-width: 100%;
                  height: auto;
                  margin: 15px auto;
              }
              a{
               font-family: "HelveticaNeue-Light";
               font-size: 15px;
               line-height: 22px;
               color: #be2626;
               text-decoration: none;
              }
              h1{
               font-family: "HelveticaNeue-Light";
               color: #142048;
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                margin-top: 0;
                margin-bottom: 26px;
              }
            h2 {
                font-family: "HelveticaNeue-Light";
                font-size: 15px;
                font-weight: bold;
                color: #142048;
                margin-top: 20px;
                margin-bottom: 20px;

            }
            h3 {
               font-family: "HelveticaNeue-Light";
               font-size: 15px;
               color: #142048;
               margin-top: 20px;
               margin-bottom: 20px;
               line-height: 20px;
              }
              blockquote {

    margin: 16px 16px 16px 32px;
    padding: 16px 16px 16px 24px;
    color: #333333;
    border-style: solid;
    border-width: 1px;
    border-left-width: 15px;
    }