 body {

                  font-family: "Helvetica-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                  font-size: 13px;
                  margin-top:0px;
                  margin-left:0px;
                  margin-right:0px;
                  margin-bottom:0px;
                  padding-top:0px;
                  padding-bottom:0px;
                  padding-left:15px;
                  padding-right:15px;
              }
              
              p{
               font-family: "Helvetica Neue";
               font-size: 13px;
               color: #333333;
               line-height: 17px;
              }
              
              ul{
                margin: 0px 0;
              }
              ul li, ol li{
               font-size: 13px;
               color: #333333;
               line-height: 22px; 
              } 


              strong{
               font-size: 14px;
               color: #333333;
               line-height: 22px;
              }           
              img{
                  display: block;
                  max-width: 100%;
                  height: auto;
                  margin: 15px auto;
              }
              a{

               font-size: 14px;
               line-height: 22px;
               color: #142048;
               text-decoration: none;
              }
              h1{

               color: #142048;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                margin-top: 0;
                margin-bottom: 26px;
              }
              h3{

               font-size: 14px;
               color: #142048;
               line-height: 27px;
               margin-top: 20px;
               margin-bottom: 20px;
              }
              blockquote {

    margin: 16px 16px 16px 32px;
    padding: 16px 16px 16px 24px;
    color: #333333;
    border-style: solid;
    border-width: 1px;
    border-left-width: 15px;
    }