<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string>Mar 03-05</string>
	<key>EventPlace</key>
	<string>London, Drupal Camp 2017</string>
	<key>NavigationBarColour</key>
	<string>#FF4E2F</string>
	<key>EventDetailHeaderColour</key>
	<string>#FF4E2F</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#ffffff</string>
	<key>FavoriteEventColour</key>
	<string>#FF4E2F</string>
	<key>IsFilterEnable</key>
	<true/>
	<key>SpeakerDetailBarColour</key>
	<string>#00ACE1</string>
</dict>
</plist>
