<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string> </string>
	<key>EventPlace</key>
	<string> </string>
	<key>NavigationBarColour</key>
	<string>#4b697c</string>
	<key>EventDetailHeaderColour</key>
	<string>#4b697c</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#757575</string>
	<key>FavoriteEventColour</key>
	<string>#cd9b23</string>
	<key>IsFilterEnable</key>
	<true/>
	<key>SpeakerDetailBarColour</key>
	<string>#4b697c</string>
	<key>SpeakerNavigationBarItemsColor</key>
	<string>#757575</string>
	<key>SideMenuTextColor</key>
	<string>#757575</string>
</dict>
</plist>
